body {
    font-family : 'Segoe UI', Tohoma, Geneva, Verdana, sans-serif;
    background-color : #f4f4f9;
    margin : 0;
    color : #333;
}

.main-header {
    background : #007bff;
    color : white;
    padding : 15px 0;
    box-shadow : 0 2px 4px rgba(0, 0, 0, 0.1);
}
.main-content{
}